<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (userExtra(); as userExtraRef) {
      <div>
        <h2 data-cy="userExtraDetailsHeading"><span jhiTranslate="xcopilotApp.userExtra.detail.title">User Extra</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ userExtraRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="xcopilotApp.userExtra.fullName">Full Name</span></dt>
          <dd>
            <span>{{ userExtraRef.fullName }}</span>
          </dd>
          <dt><span jhiTranslate="xcopilotApp.userExtra.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ userExtraRef.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="xcopilotApp.userExtra.user">User</span></dt>
          <dd>
            <span>{{ userExtraRef.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/user-extra', userExtraRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
